@model ISpan.InseparableCore.ViewModels.CcinemaVM
@{
    ViewData["Title"] = "List2";
}

<h1>影城介紹</h1>
@section Styles{
        <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
    <style>
        .city, .brand {
            margin:5px;
        }
        p{
            margin:0px;
            font-size:15px;
        }

        .showcinema{
            border: solid 1px #C4E1E1;
        }
            #cinema {
                margin: 5px;
                width: 69%;
            }

            #show {
                margin: 5px;
                width: 30%;
                border: solid 2.5px #C4E1E1;
                overflow: auto;
            }

            #map {
                width: 100%;
                height: 200px;
            }

            .color:hover {
                color: brown;
            }
    </style>
}
    <div>
        <div id="city">
        @foreach (var item in Model.city)
        {

            <button class="city btn btn-outline-primary" value="@item">@item</button>

        }
    </div>
    <div id="brand">
        @foreach (var item in Model.brand)
        {
            <button class="brand btn btn-outline-primary" value="@item">@item</button>
        }
    </div>
</div>
<div style="display:flex;">
    <div id="cinema"></div>
    <div id="show">
        <p>交通資訊：</p>
        <div id="map"></div>
        <div id="traffic"></div>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            var city = "臺北市";
            $.ajax({
                method: 'POST',
                url: '/Cinema/City',
                data: {
                    city
                },
                datatype: 'text',
                success: function (data) {
                    var cinema = JSON.parse(data);
                    cinema.forEach(function (value, index) {
                            $('#cinema').append(`<div class="showcinema"><span><a class="color" onclick="mapshow(${value.FCinemaId})">${value.FCinemaName}</a>
                                                 <p>${value.FCinemaAddress}</p>
                                                 <p>${value.FCinemaTel}</p>
                                                 </span></div>`)
                    })
                    console.log('pass');
                },
                error: function () {
                    console.log('QQ');
                }
            });
        });
        $('#city button').click(function () {
            $('#cinema').html('');
            var city = $(this).attr('value');
           
            $.ajax({
                method: 'POST',
                url: '/Cinema/City',
                data: {
                    city
                },
                datatype: 'text',
                success: function (data) {
                    var cinema = JSON.parse(data);
                    cinema.forEach(function (value, index) {
                            $('#cinema').append(`<div class="showcinema"><span><a class="color" onclick="mapshow(${value.FCinemaId})">${value.FCinemaName}</a>
                                                     <p>${value.FCinemaAddress}</p>
                                                     <p>${value.FCinemaTel}</p>
                                                     </span></div>`)
                    })
                    console.log('pass');
                },
                error: function () {
                    console.log('QQ');
                }
            });
        });
        $('#brand button').click(function () {
            $('#cinema').html('');
            var brand = $(this).attr('value');
            $.ajax({
                method: 'POST',
                url: '/Cinema/Brand',
                data: {
                    brand
                },
                datatype: 'text',
                success: function (data) {
                    var cinema = JSON.parse(data);
                    cinema.forEach(function (value, index) {
                            $('#cinema').append(`<div class="showcinema"><span><a class="color" onclick="mapshow(${value.FCinemaId})">${value.FCinemaName}</a>
                                                 <p>${value.FCinemaAddress}</p>
                                                 <p>${value.FCinemaTel}</p>
                                                 </span></div>`)
                    })
                    console.log('pass');
                },
                error: function () {
                    console.log('QQ');
                }
            });
        });
            //map
            function sendAjaxRequest(id) {
                return new Promise(
                    function (resolve, reject) {
                        $.ajax({
                            method: 'POST',
                            url: '/Cinema/Map',
                            data: { id },
                            success: function (data) {
                                resolve(data);
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                reject(`${textStatus} ${jqXHR.status} ${errorThrown}`);
                            }
                        });
                    });
            }


            function mapshow(id) {
                $('#map').html('');
                $('#traffic').html('');
                sendAjaxRequest(id)
                    .then(function (data) {
                        var cinema = JSON.parse(data);
                        traffic = cinema.FTraffic;
                        traffic.forEach(function (value, index) {
                            $('#traffic').append(`<p>${value}</p>`)
                        })
                        return cinema;
                    })
                    .then(function(value){
                        //map
                        var lat = value.FLat ;
                        var lng = value.FLng
                        var platform = new H.service.Platform({
                        apikey: value.Key
                        });

                        var pixelRatio = window.devicePixelRatio || 1;
                        var defaultLayers = platform.createDefaultLayers({
                            tileSize: pixelRatio === 1 ? 256 : 512,
                            ppi: pixelRatio === 1 ? undefined : 320
                        });
                        var map = new H.Map(document.getElementById('map'),
                            defaultLayers.vector.normal.map, {
                            center: { lat, lng },
                            zoom: 4,
                            pixelRatio: pixelRatio
                        });

                        window.addEventListener('resize', () => map.getViewPort().resize());
                        var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
                        var ui = H.ui.UI.createDefault(map, defaultLayers);
                        switchMapLanguage(map, platform);

                        moveMapToBerlin(map,lat,lng);
                        addMarkersToMap(map, lat, lng);
                    });

            }
                        //放大縮小
            function moveMapToBerlin(map, lat, lng) {
                    map.setCenter({ lat, lng });
                    map.setZoom(16);
            };

                //標記
            function addMarkersToMap(map, lat, lng) {
                    var parisMarker = new H.map.Marker({ lat, lng });
                    map.addObject(parisMarker);
            };

                //變中文
                function switchMapLanguage(map, platform) {
                    let defaultLayers = platform.createDefaultLayers({
                        lg: 'zh-tw'
                    });

                    map.setBaseLayer(defaultLayers.vector.normal.map);
                    var ui = H.ui.UI.createDefault(map, defaultLayers, 'zh-CN');
                    ui.removeControl('mapsettings');
                };
    </script>
}
