@model ISpan.InseparableCore.ViewModels.MovieVm

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TMovies</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" id="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FMovieId" />
            <div class="form-group">
                <label asp-for="FMovieName" class="control-label"></label>
                <input asp-for="FMovieName" class="form-control" />
                <span asp-validation-for="FMovieName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FMovieIntroduction" class="control-label"></label>
                <input asp-for="FMovieIntroduction" class="form-control" />
                <span asp-validation-for="FMovieIntroduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FMovieLevelId" class="control-label"></label>
                <select asp-for="FMovieLevelId" class="form-control" asp-items="ViewBag.FMovieLevelId"></select>
                <span asp-validation-for="FMovieLevelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FMovieOnDate" class="control-label"></label>
                <input type="date" asp-for="FMovieOnDate" class="form-control" />
                <span asp-validation-for="FMovieOnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FMovieOffDate" class="control-label"></label>
                <input type="date" asp-for="FMovieOffDate" class="form-control" />
                <span asp-validation-for="FMovieOffDate" class="text-danger"></span>
            </div>
			<div class="form-group">
				<input asp-for="FMovieImagePath" class="form-control" type="hidden"/>
				<img src="~/images/@Model.FMovieImagePath" width="150">
				<input type="file" name="Image" class="form-control" />
			</div>

            <div class="form-group">
                <label asp-for="FMovieLength" class="control-label"></label>
                <input asp-for="FMovieLength" class="form-control" />
                <span asp-validation-for="FMovieLength" class="text-danger"></span>
            </div>
			<div class="form-group">
				<label asp-for="FMovieActors" class="control-label"></label>
				<input asp-for="FMovieActors" class="form-control" />
				<span asp-validation-for="FMovieActors" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="FMovieDirectors" class="control-label"></label>
				<input asp-for="FMovieDirectors" class="form-control" />
				<span asp-validation-for="FMovieDirectors" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Categories" class="control-label"></label>
				<select id="FMovieCategoryId" class="form-control" asp-items="ViewBag.FMovieCategoryId" multiple></select>
				<input type="hidden" name="CategoryIds" id="CategoryIds" />
			</div>

            <div class="form-group">
                <input type="submit" value="儲存" class="btn btn-primary" />
            </div>
        </form>
		<div class="form-group">
			<form asp-action="Delete">
				<input type="hidden" name="movieId" value="@Model.FMovieId" />
				<input type="submit" value="刪除" class="btn btn-danger" />
			</form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">返回</a>
</div>
@section Scripts {
<script>
	var categoryIds = "";

	$("#Edit").submit(function () {
		$("#FMovieCategoryId").find(":selected").each(function () {
			categoryIds += this.value + ',';
		});
		$("#CategoryIds").val(categoryIds);
		alert($("#CategoryIds").val())
	})

</script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
