@model ISpan.InseparableCore.ViewModels.TCinemasVM.CTCinemasCreateVM
@{
    ViewData["Title"] = "Create";
}
@section Styles{
    <style>
        .input:focus{
            color:aliceblue;
        }
    </style>
}
<h1>Create</h1>

<h4>TCinemas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (ViewBag.error != null)
        {
            <h3 style="background-color:palevioletred;color:dimgrey;">@ViewBag.error</h3>
        }
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FCinemaName" class="control-label"></label>
                <input asp-for="FCinemaName" class="form-control input" />
                <span asp-validation-for="FCinemaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FCinemaRegion" class="control-label"></label>
                <input asp-for="FCinemaRegion" class="form-control input" />
                <span asp-validation-for="FCinemaRegion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FCinemaAddress" class="control-label"></label>
                <input asp-for="FCinemaAddress" class="form-control input" />
                <span asp-validation-for="FCinemaAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FCinemaTel" class="control-label"></label>
                <input asp-for="FCinemaTel" class="form-control input" />
                <span asp-validation-for="FCinemaTel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FLat" class="control-label"></label>
                <input asp-for="FLat" class="form-control input" />
                <span asp-validation-for="FLat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FLng" class="control-label"></label>
                <input asp-for="FLng" class="form-control input" />
                <span asp-validation-for="FLng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FTraffic" class="control-label"></label>
                <input asp-for="FTraffic" class="form-control input" />
                <span asp-validation-for="FTraffic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
