@{
    ViewData["Title"] = "Error";
}
    <form action="/Shopping/Ticket" method="post" id="form">
    <div style="text-align:center;" id="center">
            <br />
            <h3>@ViewBag.error</h3>
            <br />
            <h4></h4>
        </div>
    </form>
    @section Scripts{
    <script src="~/js//ActionToShopping.js" type="text/javascript"></script>
}