@{
    ViewData["Title"] = "Error";
}
@section Styles{
    <style>
        .center {
            text-align: center;
        }
    </style>
}
    <form action="/Shopping/Ticket" method="post" id="form">
        <div class="center">
            <br />
            <h3>@ViewBag.error</h3>
            <br />
            <h4></h4>
        </div>
    </form>
    @section Scripts{
    <script>
        $(document).ready(function () {
            var count = 3;

            function updateCountdown() {
                $('.center h4').text(`將於${count}秒後導回訂購畫面...`);
                count--;
            }

            updateCountdown();

            setInterval(updateCountdown, 1000);

            setTimeout(function () {
                $('#form').submit()
            }, 3000);
        });
    </script>
}