
@{
    ViewData["Title"] = "Paydone";
}

<form action="/Member/OrderHistory" method="get" id="form">
    <div style="text-align:center;" id="center">
        <br />
        <h2>訂單: @ViewBag.No ,結帳完成</h2>
        <br />
        <h4></h4>
    </div>
</form>
@section Scripts{
    <script>
        $(document).ready(function () {
            var count = 3;

            function updateCountdown() {
                if (count == 0) {
                    $('#center h4').text(`導回訂單紀錄`);}
                $('#center h4').text(`將於${count}秒後導回訂單記錄...`);
                count--;
            }

            updateCountdown();

            setInterval(updateCountdown, 1000);

            setTimeout(function () {
                $('#form').submit()
            }, 3000);
        });
    </script>
}