
@{
    ViewData["Title"] = "Paydone";
}

<form action="/Shopping/Ticket" method="post" id="form">
    <div style="text-align:center;" id="center">
        <br />
        <h2>結帳完成</h2>
        <br />
        <h4></h4>
    </div>
</form>
@section Scripts{
    <script src="~/js//ActionToShopping.js" type="text/javascript"></script>
}