@model ISpan.InseparableCore.Models.TMembers

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TMembers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FLastName" class="control-label">姓氏</label>
                <input asp-for="FLastName" class="form-control" />
                <span asp-validation-for="FLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FFirstName" class="control-label">名字</label>
                <input asp-for="FFirstName" class="form-control" />
                <span asp-validation-for="FFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FEmail" class="control-label">Email</label>
                <input asp-for="FEmail" class="form-control" />
                <span asp-validation-for="FEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FPasswordHash" class="control-label">密碼</label>
                <input asp-for="FPasswordHash" class="form-control" />
                <span asp-validation-for="FPasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FDateOfBirth" class="control-label">生日</label>
                <input asp-for="FDateOfBirth" class="form-control" />
                <span asp-validation-for="FDateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FGenderId" class="control-label">性別</label>
                <select asp-for="FGenderId" class ="form-control" asp-items="ViewBag.FGenderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FCellphone" class="control-label">手機</label>
                <input asp-for="FCellphone" class="form-control" />
                <span asp-validation-for="FCellphone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FAddress" class="control-label">住址</label>
                <input asp-for="FAddress" class="form-control" />
                <span asp-validation-for="FAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FAreaZipCode" class="control-label"></label>
                <select asp-for="FAreaZipCode" class ="form-control" asp-items="ViewBag.FAreaZipCode"></select>
            </div>
            <div class="form-group">
                <label asp-for="FPhotoPath" class="control-label"></label>
                <input asp-for="FPhotoPath" class="form-control" />
                <span asp-validation-for="FPhotoPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FIntroduction" class="control-label"></label>
                <input asp-for="FIntroduction" class="form-control" />
                <span asp-validation-for="FIntroduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="確定" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">取消</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
