@model ISpan.InseparableCore.ViewModels.CMemberEditProfileViewModel

@{
    ViewData["Title"] = "EditProfile";
}

<h1>會員資料</h1>

<h4>編輯會員資料</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProfile" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <span class="form-control">@Model.MemberId</span>
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" type="date"/>
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderId" class="control-label"></label>
                <select asp-for="GenderId" class="form-control" asp-items="ViewBag.FGenderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cellphone" class="control-label"></label>
                <input asp-for="Cellphone" class="form-control" type="tel" />
                <span asp-validation-for="Cellphone" class="text-danger"></span>
            </div>
            @*// todo 地址輸入樣式*@
            <div class="form-row">
                <label asp-for="Address" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-5">
                    <select asp-for="City" class="form-control f-3" asp-items="ViewBag.Cities" id="citySelect">
                        <option value="">請選擇縣市</option>
                    </select>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="col-sm-5">
                    <select asp-for="Area" class="form-control f-3" asp-items="ViewBag.Areas" id="areaSelect">
                        <option value="">請選擇區域</option>
                    </select>
                    <span asp-validation-for="Area" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoPath" class="control-label"></label>
                <div>
                    @{
                    if (!String.IsNullOrEmpty(Model.PhotoPath))
                        {
                            <img src="/images/memberProfilePhotos/@Model.PhotoPath" asp-append-version="true" class="rounded" alt="會員大頭貼" height="100">
                        }
                        else
                        {
                            <label class="control-label">還沒上傳大頭貼</label>
                        }
                    }
                    
                </div>
                <span asp-validation-for="PhotoPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberPhoto" class="control-label"></label>
                <input type="file" name="MemberPhoto" class="form-control" accept="image/*" />
                <span asp-validation-for="MemberPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Introduction" class="control-label"></label>
                <textarea asp-for="Introduction" class="form-control" rows="5" ></textarea>
                <span asp-validation-for="Introduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="儲存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">取消</a>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="~/js/addressEdit.js"></script>

    <script>

    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
