@model IEnumerable<ISpan.InseparableCore.ViewModels.CFriendListViewModel>

@{
    ViewData["Title"] = "FriendList";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

<style>
    /*body {
        background-color: #74EBD5;
        background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
        min-height: 100vh;
    }*/

    /*::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        width: 5px;
        background: #f5f5f5;
    }

    ::-webkit-scrollbar-thumb {
        width: 1em;
        background-color: #ddd;
        outline: 1px solid slategrey;
        border-radius: 1rem;
    }*/

    .ml-auto {
        margin-left: auto !important;
    }


    .text-small {
        font-size: 0.9rem;
    }

    .messages-box,
    .chat-box {
        height: 510px;
        overflow-y: scroll;
    }

    .rounded-lg {
        border-radius: 0.5rem;
    }

    input::placeholder {
        font-size: 0.9rem;
        color: #999;
    }
</style>

<a asp-action="Index" class="btn btn-secondary">返回</a>

<div class="container py-2 px-4">

    <div class="row rounded-lg overflow-hidden">
        <!-- Users box-->
        <div class="col-5 px-0">
            <div class="bg-white">

                <div class="bg-gray px-4 py-2 bg-light">
                    <p class="h5 mb-0 py-1 text-black">聊天</p>
                </div>

                <div class="messages-box">
                    <div class="list-group rounded-0">

                        @*// 活動中的對話，顯示醒目樣式 *@
                        @*<a class="list-group-item list-group-item-action active text-white rounded-0">
                            <div class="media">
                                <img src="https://bootstrapious.com/i/snippets/sn-chat/avatar.svg" alt="user" width="50" class="rounded-circle">
                                <div class="media-body ml-4">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <h6 class="mb-0">Name</h6><small class="small font-weight-bold">25 Dec</small>
                                    </div>
                                    <p class="font-italic mb-0 text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                </div>
                            </div>
                        </a>*@

                        @foreach (var friend in Model)
                        {
                            <a href="#" class="list-group-item list-group-item-action list-group-item-light rounded-0">
                                <div class="media">
                                    <img src="../../images/memberProfilePhotos/@friend.PhotoPath" alt="user" width="50" class="rounded-circle">
                                    <div class="media-body ml-4">
                                        <div class="d-flex align-items-center justify-content-between mb-1">
                                            <h6 class="mb-0">@friend.LastName@friend.FirstName</h6><small class="small font-weight-bold">日期</small>
                                        </div>
                                        <p class="font-italic text-muted mb-0 text-small">顯示最近一則訊息</p>
                                    </div>
                                </div>
                            </a>
                        }

                        @*// 非活動中的對話，顯示不醒目樣式 *@
                        @*<a href="#" class="list-group-item list-group-item-action list-group-item-light rounded-0">
                            <div class="media">
                                <img src="https://bootstrapious.com/i/snippets/sn-chat/avatar.svg" alt="user" width="50" class="rounded-circle">
                                <div class="media-body ml-4">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <h6 class="mb-0">Jason Doe</h6><small class="small font-weight-bold">14 Dec</small>
                                    </div>
                                    <p class="font-italic text-muted mb-0 text-small">Lorem ipsum dolor sit amet, consectetur. incididunt ut labore.</p>
                                </div>
                            </div>
                        </a>*@

                    </div>
                </div>
            </div>
        </div>
        <!-- Chat Box-->
        <div class="col-7 px-0">
            <div class="px-4 py-5 chat-box bg-white" id="messagesArea">

                @*<ul class="text-black" id="messagesList"></ul>*@


                <!-- Sender Message-->
                <div class="media w-50 mb-3">
                    <img src="https://bootstrapious.com/i/snippets/sn-chat/avatar.svg" alt="user" width="30" class="rounded-circle">
                    <div class="media-body ml-3">
                        <div class="bg-light rounded py-2 px-3 mb-2">
                            <p class="text-small mb-0 text-muted text-wrap text-break" style="word-wrap: break-word;">Test, 對方 Message style=" word-wrap: break-word; qwertyuiopasdfghjklzxcvbnm mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm</p>
                        </div>
                        <p class="small text-muted">12:00 PM | Aug 13</p>
                    </div>
                </div>

                <!-- Reciever Message-->
                <div class="media w-50 ml-auto mb-3">
                    <div class="media-body">
                        <div class="bg-primary rounded py-2 px-3 mb-2">
                            <p class="text-small mb-0 text-white text-wrap text-break" style="word-wrap: break-word;">Test, 我 Message Test which is a new approach to have all solutions mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm</p>
                        </div>
                        <p class="small text-muted">時間</p>
                    </div>
                </div>
                

                @*<!-- Sender Message-->
                <div class="media w-50 mb-3">
                    <img src="https://bootstrapious.com/i/snippets/sn-chat/avatar.svg" alt="user" width="50" class="rounded-circle">
                    <div class="media-body ml-3">
                        <div class="bg-light rounded py-2 px-3 mb-2">
                            <p class="text-small mb-0 text-muted">Test, which is a new approach</p>
                        </div>
                        <p class="small text-muted">12:00 PM | Aug 13</p>
                    </div>
                </div>*@

                @*<!-- Reciever Message-->
                <div class="media w-50 ml-auto mb-3">
                    <div class="media-body">
                        <div class="bg-primary rounded py-2 px-3 mb-2">
                            <p class="text-small mb-0 text-white">Apollo University, Delhi, India Test</p>
                        </div>
                        <p class="small text-muted">12:00 PM | Aug 13</p>
                    </div>
                </div>*@

            </div>

            <!-- Typing area -->
            <form action="#" class="bg-light">
                <div class="input-group">
                    <textarea type="text" class="form-control rounded-0 border-0 py-4 bg-light" id="messageInput" placeholder="請輸入訊息..."></textarea>
                    <div class="input-group-append">
                        <button id="sendButton" type="submit" class="btn btn-link"> <i class="bi bi-send-fill"></i></button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>

    <script>
        let senderId = @ViewBag.memberId;
        //let receiverId ;

    </script>

    
}