@model ISpan.InseparableCore.Models.DAL.TMembers

@{
    ViewData["Title"] = "Profile";
}
<style>
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #191c24;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
    }

    .card .card-body {
        padding: 1.75rem 1.5625rem;
    }

    .profile-card h2 {
        margin: 10px 0 0 0;
    }

</style>

<h1>Profile</h1>
<div class="card">
    <div class="card-body profile-card pt-4">
        <div class="row pb-4">
            <img src="../../images/memberProfilePhotos/@Model.FPhotoPath" class="col-sm-2" asp-append-version="true" alt="會員大頭貼">
            <div class="col-sm-10">
                <div class="d-flex justify-content-between align-items-center pb-2">
                    <h2>@Html.DisplayFor(model => model.FLastName)@Html.DisplayFor(model => model.FFirstName)</h2>
                    <button class="btn btn-primary" id="btnAddFriend" data-friend-status="" value="@Model.FId">加好友</button>
                </div>
                <div>
                    @Model.FIntroduction
                </div>
            </div>
        </div>
        <div class="row pt-4 border-top border-secondary">
            <div class="col-sm-3">
                <label>會員編號：@Model.FMemberId</label>
            </div>
            <div class="col-sm-3">
                <label>註冊時間：@Model.FSignUpTime.Value.ToString("yyyy/MM/dd HH:mm")</label>
            </div>
        </div>
    </div>
</div>
<div>
    <hr />
    <dl class="row">
        @*// todo 放上文章列表 *@
        
        
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script>
        $(document).ready(function () {
            $("#btnAddFriend").click(function () {
                var btn = $(this);
                var id =  btn.val();

                // 取得好友的狀態
                const friendStatus = friendButton.data("friend-status");

                if (friendStatus === "not-friend") {
                    $.ajax({
                        type: "POST",
                        url: "/member/AddFriend", // 填寫後端API的URL
                        data: { friendId: id },
                        success: function (result) {
                            if (result.success) {
                                console.log("加好友成功 in all");
                                btn.text("已加好友");
                                btn.addClass("btn-secondary").removeClass("btn-primary");
                            }
                            else {
                                console.log(result.message);
                            }
                        },
                        error: function (xhr, status, error) {
                            console.log("ajax失敗，請重試！");

                        }
                    });
                } else if (friendStatus === "is-friend") {

                }

                
            });
        });

    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

