@model ISpan.InseparableCore.ViewModels.CMemberRegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h1>註冊</h1>

<h4>請填寫會員資料</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control text-white" placeholder="請輸入姓氏" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" placeholder="請輸入名字" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="請輸入Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" placeholder="請輸入密碼" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="請再次輸入密碼" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" type="date" max="@DateTime.Now.ToString("yyyy-MM-dd")" oninvalid="this.setCustomValidity('生日不能超過今天')" oninput="this.setCustomValidity('')" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-row mt-2">
                <label asp-for="GenderId" class="control-label"></label>
                <select asp-for="GenderId" class ="form-control" asp-items="ViewBag.FGenderId">
                    <option value="">請選擇</option>
                </select>
            </div>
            <div class="form-row mt-2">
                <label asp-for="Address" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-5">
                    <select asp-for="City" class="form-control f-3" asp-items="ViewBag.Cities" id="citySelect">
                        <option value="">請選擇縣市</option>
                    </select>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="col-sm-5">
                    <select asp-for="Area" class="form-control f-3" id="areaSelect">
                        <option value="">請選擇區域</option>
                    </select>
                    <span asp-validation-for="Area" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <input asp-for="Address" class="form-control" placeholder="請輸入剩下的住址" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            
            <div class="form-group mt-5">
                <input type="submit" value="確定" class="btn btn-primary" /> 
                <a asp-action="Login" asp-controller="Home" class="btn btn-light">取消</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="~/js/address.js"></script>
    <script>

    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
