
@{
    ViewData["Title"] = "RegistrationCompleted";
}

<style>
    .regcom{
        /*border-radius: 9px;*/
        /*max-width: fit-content;*/
        min-height: 45vh;
    }
</style>

<div class="regcom mt-5">
    <div>
        <h1>註冊完成</h1>
        <h5>謝謝您的註冊，請至您的信箱收取驗證信。</h5>
    </div>
</div>

