@model ISpan.InseparableCore.ViewModels.CRegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h1>註冊</h1>

<h4>請輸入會員資料</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control text-white" placeholder="請輸入姓氏" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" placeholder="請輸入名字" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="請輸入Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" placeholder="請輸入密碼" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="請再次輸入密碼" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" type="date" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-row">
                <label asp-for="GenderId" class="control-label"></label>
                <select asp-for="GenderId" class ="form-control" asp-items="ViewBag.FGenderId"></select>
            </div>
            <div class="form-row">
                <label asp-for="Address" class="col-sm-2 col-form-label max-135 pl-4"></label>
                <div class="col-sm-5">
                    <select asp-for="City" class="form-control f-3 valid" asp-items="ViewBag.Cities" id="citySelect">
                        <option value="">請選擇縣市</option>
                    </select>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="col-sm-5">
                    <select asp-for="Area" class="form-control f-3 valid" id="areaSelect">
                        <option value="">請選擇區域</option>
                    </select>
                    <span asp-validation-for="Area" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input asp-for="Address" class="form-control" placeholder="請輸入住址" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            
            
            <div class="form-group">
                <input type="submit" value="確定" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="">取消</a>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script>

        $(document).ready(function () {
            $("#citySelect").change(function () {
                if ($(this).val() === '') {
                    $("#areaSelect").val('');
                    //$("#areaSelect").empty(); // 清空區域選單的選項
                }
                //UpdateAreas();
                var selectedValue = $("#citySelect option:selected").val();
                GetAreas(selectedValue);
                setTimeout(function () {
                    $('#Address').val(getAddress());
                }, 100);
            });
        });

        $(document).ready(function () {
            $("#areaSelect").change(function () {
                setTimeout(function () {
                    $('#Address').val(getAddress());
                }, 100);
            });
        });

        $(document).ready(function () {
            $("#Address").on('input', function (e) {
                var address = getAddress();
                if (this.value.indexOf(address) !== 0) {
                    var addr2 = this.value.substring(Math.min(address.length, this.value.length));
                    this.value = address + addr2;
                } else {

                }
            });
        });


        // 取得選取的縣市、區域文字
        function getAddress() {
            var $city = $('#citySelect option:selected');
            var $area = $('#areaSelect option:selected');
            var address = '';
            if ($city.val()) {
                address += $city.text();
            }
            if ($area.val()) {
                address += $area.text();
            }
            return address;
        }

        // 更新區域選單
        function UpdateAreas() {
            
        }

        // 從DB取得並顯示區域的內容
        function GetAreas(cityID) {
            $.ajax({
                url: 'Member/GetAreas',
                data: { cityID: cityID },
                type: 'get',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    $('#areaSelect').empty(); // 清空區域選單的選項
                    $('#areaSelect').append($('<option></option>').val('').text('請選擇區域'));
                    if (data.length > 0) {
                        // 將回傳的區域資料動態新增到區域選單
                        $.each(data, function (i, item) {
                            $('#areaSelect').append($('<option></option>').val(item.zipCode).text(item.areaName));
                        });
                    }
                },
                error: function () {
                    // 處理錯誤
                    console.log("取得區域發生錯誤，請稍後再試。");
                }
            });
        }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
