@model ISpan.InseparableCore.ViewModels.CAdminLoginViewModel
@using ISpan.InseparableCore.Controllers

@{
    ViewData["Title"] = "Login";
}

<hr />
<div class="row">
    <div class="card col-lg-4 mx-auto bg-dark">
        <div class="card-body px-5 py-5">
            <h3 class="card-title text-left mb-3">管理員登入</h3>
            <form asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" placeholder="請輸入Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" placeholder="請輸入密碼" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                @*<div class="form-group d-flex align-items-center justify-content-between">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"> 記住我 <i class="input-helper"></i>
                        </label>
                    </div>
                    <a href="#" class="forgot-pass">忘記密碼</a>
                </div>*@
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block enter-btn">登入</button>
                </div>
                
                @*<p class="text-center">還沒有帳號嗎？<a asp-action="Register" asp-controller="Member"> 註冊</a></p>*@
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
