@model ISpan.InseparableCore.ViewModels.ArticleVm

<style>
	.btnEditAndDeleted {
		justify-content: flex-end
	}

	.divContainerRow {
		display: flex;
		flex-direction: row;
		padding: 5px;
	}

	.divContainerCol {
		display: flex;
		flex-direction: column;
		padding: 5px;
		margin: 0;
	}

	.text {
		font-size: 30px;
	}

	.textarea {
		height: 700px;
		max-width: 3000px;
	}
	.divBorder {
		border-color: white;
		border-width: 3px;
		border-style: solid;
	}

	.divContainerRow label {
		margin: 10px 10px 0 30px;
		font-size: 30px;
	}

	titleInput {
		width: 700px;
	}

	.divContainerRow select, .divContainerRow input {
		margin: 10px;
		font-size: 20px;
	}

	.inDivPosition {
		position: relative;
		bottom: 0px;
		right: -200px;
	}
</style>

<h1 style="margin-top:20px;">發文</h1>

<hr />
<div class="row">
	<div class=" divContainerCol">
		<form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class=" divContainerRow">
				<div class="form-group">
					<label asp-for="FArticleTitle" class="control-label "></label>	
				</div>
				<div class="form-group">
					<input asp-for="FArticleTitle" class="form-control titleInput" style="width: 700px;" />
					<span asp-validation-for="FArticleTitle" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="FMemberId" class="control-label"></label>
				</div>
				<div class="form-group">
					<select asp-for="FMemberId" class="form-control" asp-items="ViewBag.FMemberId"></select>
				</div>
				<div class="form-group">
					<label asp-for="FArticleCategoryId" class="control-label"></label>
				</div>
				<div class="form-group">
					<select asp-for="FArticleCategoryId" class="form-control" asp-items="ViewBag.FArticleCategoryId"></select>
				</div>
			</div>
            <div class="form-group">
				<label asp-for="FArticleContent" class="control-label text "></label>
				<textarea name="FArticleContent" class="form-control text textarea"></textarea>
                <span asp-validation-for="FArticleContent" class="text-danger"></span>
            </div>
			<div class="form-group divContainerRow btnEditAndDeleted">
                <input type="submit" value="送出" class="btn btn-primary" />
            </div>	
        </form>
    </div>
</div>

<div>
	<a asp-action="Index" style=" font-size:30px">返回</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
