@model ISpan.InseparableCore.ViewModels.ArticleVm


<h1>編輯貼文</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FArticleId" />
            <input asp-for="FArticlePostingDate" type="hidden" />
            <input asp-for="FArticleModifiedDate" type="hidden" />
            <input asp-for="FArticleLikes" type="hidden" />
            <input asp-for="FArticleClicks" type="hidden" />
			<input asp-for="FDeleted" type="hidden"/>
            <div class="form-group">
                <label asp-for="FArticleTitle" class="control-label"></label>
                <input asp-for="FArticleTitle" class="form-control" />
                <span asp-validation-for="FArticleTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FMemberId" class="control-label"></label>
                <select asp-for="FMemberId" class="form-control" asp-items="ViewBag.FMemberId"></select>
                <span asp-validation-for="FMemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FArticleCategoryId" class="control-label"></label>
                <select asp-for="FArticleCategoryId" class="form-control" asp-items="ViewBag.FArticleCategoryId"></select>
                <span asp-validation-for="FArticleCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FArticleContent" class="control-label"></label>
                <textarea asp-for="FArticleContent" class="form-control" ></textarea>
                <span asp-validation-for="FArticleContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
			<div class="form-group">
				<form asp-action="Delete">
					<input type="hidden" name="articleId" value="@Model.FArticleId" />
					<input type="submit" value="Delete" class="btn btn-danger" /> |
				</form>
			</div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
