@model ISpan.InseparableCore.ViewModels.ArticleVm
@section Styles{
	<link href="~/css/loading.css" rel="stylesheet" />
	<link href="~/css/ArticleEditAndCreate.css" rel="stylesheet" />
}

<style>
	.Delete {
	}

	.inDivPosition {
		position: relative;
		bottom: 0px;
		right: -200px;
	}
</style>

<h1 style="margin-top:20px;">編輯貼文</h1>

<hr />
<div class="row">
    <div class=" divContainerCol" >
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FArticleId" />
			<div class=" divContainerRow">
				<div class="form-group ">
					<label asp-for="FArticleTitle" class="control-label"></label>
				</div>
				<div class="form-group">
					<input asp-for="FArticleTitle" class="form-control titleInput" style="width: 700px;" />
					<span asp-validation-for="FArticleTitle" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="FArticleCategoryId" class="control-label "></label>
				</div>
				<div class="form-group">
					<select asp-for="FArticleCategoryId" class="form-control " asp-items="ViewBag.FArticleCategoryId"></select>
					<span asp-validation-for="FArticleCategoryId" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group ">
				<label asp-for="FArticleContent" class="control-label text"></label>
				<textarea asp-for="FArticleContent" class="form-control text inputTextarea tinymce" style="" id="textarea"></textarea>
				<span asp-validation-for="FArticleContent" class="text-danger"></span>
			</div>
			<div class="form-group divContainerRow btnEditAndDeleted">
				<div class="form-group">
					<input type="submit" value="儲存" class="btn btn-primary" />
					<button value="@Model.FArticleId" class="btn btn-danger Delete" 
					style="margin: 10px;font-size: 20px;" onclick="return confirm('你確定要刪除嗎？')">刪除</button>
					<button type="button" class="btn btn-info" style="margin: 10px;font-size: 20px;"
					onclick="backToIndex()">返回</button>

				</div>
			</div>
        </form>
    </div>
</div>

@section Scripts {
	<script>
		function backToIndex() { window.location.href = "/TArticles/Index" }

		$(document).on('click', '.Delete', function () {
			var articleId = parseInt($(this).attr("value"))
			//confirm('你確定要刪除嗎？' + movieId)
			$.ajax({
				type: "POST",
				url: "/TArticles/DeleteAjax",
				data: { articleId },
				success: function (data) {
					alert("已刪除")
				},
				error: function (xhr, status, error) {
					// 處理錯誤
					console.log("AJAX request error: " + status + " - " + error);
				}
			});
		})
	</script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
