.city, .brand {
    margin: 5px;
}

p {
    margin: 0px;
    font-size: 15px;
}

.showcinema {
    border: solid 1.8px #C4E1E1;
    padding: 5px;
    margin: 5px;
}

#cinema {
    margin: 15px;
    width: 53%;
}

.show {
    margin: 15px;
    width: 40%;
    border: solid 2.5px #C4E1E1;
    overflow: auto;
    padding: 5px;
}

#map {
    width: 100%;
    height: 200px;
}

.color:hover {
    color: #ffc107;
    transform: scale(1.1);
}
