@model ISpan.InseparableCore.ViewModels.CMemberCreateVM

@{
    ViewData["Title"] = "Create";
}

<h1>新增會員</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">姓氏</label>
                <input asp-for="LastName" class="form-control text-light" placeholder="請輸入姓氏" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">名字</label>
                <input asp-for="FirstName" class="form-control text-light" placeholder="請輸入名字" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control text-light" placeholder="請輸入Email" autocomplete="off" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">密碼</label>
                <input asp-for="Password" class="form-control text-light" placeholder="請輸入密碼" autocomplete="off" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">確認密碼</label>
                <input asp-for="ConfirmPassword" class="form-control text-light" placeholder="請再次輸入密碼" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label">生日</label>
                <input asp-for="DateOfBirth" class="form-control text-light" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderId" class="control-label">性別</label>
                <select asp-for="GenderId" class="form-control text-light" asp-items="ViewBag.FGenderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cellphone" class="control-label">手機</label>
                <input asp-for="Cellphone" class="form-control text-light" placeholder="請輸入手機號碼" />
                <span asp-validation-for="Cellphone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label">城市</label>
                <select asp-for="City" class="form-control text-light" asp-items="ViewBag.Cities" id="citySelect">
                    <option value="">請選擇縣市</option>
                </select>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label">地區</label>
                <select asp-for="Area" class="form-control text-light" asp-items="ViewBag.FAreaZipCode" id="areaSelect">
                    <option value="">請選擇區域</option>
                </select>
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">住址</label>
                <input asp-for="Address" class="form-control text-light" placeholder="請輸入剩下的住址" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="PhotoPath" class="control-label"></label>
                <input asp-for="PhotoPath" class="form-control text-light" />
                <span asp-validation-for="PhotoPath" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Introduction" class="control-label">會員自我介紹</label>
                <textarea asp-for="Introduction" class="form-control text-light" rows="5"></textarea>
                <span asp-validation-for="Introduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountStatus" class="control-label">會員狀態</label>
                <select asp-for="AccountStatus" class="form-control text-light" asp-items="ViewBag.FAccountStatus"></select>
            </div>
            @*<div class="form-group">
                <label asp-for="FTotalMemberPoint" class="control-label">會員點數</label>
                <input asp-for="FTotalMemberPoint" class="form-control text-light" />
                <span asp-validation-for="FTotalMemberPoint" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="送出" class="btn btn-primary" /> |
                <a class="btn btn-light" asp-action="Index">返回</a>
            </div>
        </form>
    </div>
</div>

<div>
</div> 

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="~/js/addressEdit.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
