<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INSEPARABLE</title>
    <link rel="shortcut icon" href="~/images/icon.png" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/global.css" rel="stylesheet">
    <link href="~/css/index.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <script src="~/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>

	<section id="top">
		<div class="container">
			<div class="row top_1">
				<div class="col-md-3">
					<div class="top_1l pt-1">
						<h3 class="mb-0"><a class="text-white" href="/Home/Index"><img src="~/images/iconclear.png" width="50" height="50"/> Inseparable</a></h3>
					</div>
				</div>
				<div class="col-md-5">
					<div class="top_1m">
						<div class="input-group">
							<input type="text" class="form-control bg-black" placeholder="Search Site..." id="keyword">
							<span class="input-group-btn">
								<button class="btn btn text-white bg_red rounded-0 border-0" type="button" onclick="search()">
									Search
								</button>
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="top_1r text-end">
						<ul class="social-network social-circle mb-0">
							<li><a href="https://www.youtube.com/" class="icoGoogle" title="Google +"><i class="fa fa-youtube"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="header">
		<nav class="navbar navbar-expand-md navbar-light" id="navbar_sticky">
			<div class="container">
				<a class="navbar-brand text-white fw-bold" href="/Home/Index"><img src="~/images/iconclear.png" width="50" height="50" /> Ineseparable</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mb-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/Home/Index">首頁</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/TMovies/Index">電影資訊</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/Cinema/Cinema">影院資訊</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/TArticles/Index">論壇</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/Shopping/Ticket">購票系統</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/Member/Index">會員</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</section>

	<div class="container">
		<main role="main" class="pb-3" id="mainbody">
			@RenderBody()
		</main>
	</div>

	<section id="footer">
		<div class="footer_m clearfix">
			<div class="container">
				<div class="row footer_1">
					<div class="col-md-4">
						<div class="footer_1i">
							<h3><a class="text-white" href="~/Home/Index"><i class="fa fa-video-camera col_red me-1"></i> 關於我們</a></h3>
							<p class="mt-3">資展國際</p>
							<h6 class="fw-normal">
								<i class="fa fa-map-marker fs-5 align-middle col_red me-1"></i>INSEPARABLE小組
							</h6>
							<h6 class="fw-normal mt-3"><i class="fa fa-envelope fs-5 align-middle col_red me-1"></i>第三組</h6>
							<h6 class="fw-normal mt-3 mb-0"><i class="fa fa-phone fs-5 align-middle col_red me-1"></i>。。。</h6>
						</div>
					</div>
					<div class="col-md-4">
						<div class="footer_1i">
							<h4> <span class="col_red"></span></h4>
							<div class="footer_1i1 row mt-4">
								<div class="col-md-3 col-3">
									<div class="footer_1i1i">
										<div class="grid clearfix">
											<figure class="effect-jazz mb-0">
												@*<a href="#"><img src="" height="70" class="w-100" alt="abc"></a>*@
											</figure>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-3">
									<div class="footer_1i1i">
										<div class="grid clearfix">
											<figure class="effect-jazz mb-0">
												@*<a href="#"><img src="" height="70" class="w-100" alt="abc"></a>*@
											</figure>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-3">
									<div class="footer_1i1i">
										<div class="grid clearfix">
											<figure class="effect-jazz mb-0">
												@*<a href="#"><img src="" height="70" class="w-100" alt="abc"></a>*@
											</figure>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-3">
									<div class="footer_1i1i">
										<div class="grid clearfix">
											<figure class="effect-jazz mb-0">
												@*<a href="#"><img src="" height="70" class="w-100" alt="abc"></a>*@
											</figure>
										</div>
									</div>
								</div>
							</div>
							<div class="footer_1i1 row mt-3">
								<div class="col-md-3 col-3">
									<div class="footer_1i1i">
										<div class="grid clearfix">
											<figure class="effect-jazz mb-0">
												@*<a href="#"><img src="" height="70" class="w-100" alt="abc"></a>*@
											</figure>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-3">
									<div class="footer_1i1i">
										<div class="grid clearfix">
											<figure class="effect-jazz mb-0">
												@*<a href="#"><img src="" height="70" class="w-100" alt="abc"></a>*@
											</figure>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-3">
									<div class="footer_1i1i">
										<div class="grid clearfix">
											<figure class="effect-jazz mb-0">
												@*<a href="#"><img src="" height="70" class="w-100" alt="abc"></a>*@
											</figure>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-3">
									<div class="footer_1i1i">
										<div class="grid clearfix">
											<figure class="effect-jazz mb-0">
												@*<a href="#"><img src="" height="70" class="w-100" alt="abc"></a>*@
											</figure>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="footer_1i">
							<h4>  <span class="col_red"></span></h4>
							<p class="mt-3"></p>
							<div class="input-group">
								@*<input type="text" class="form-control bg-black" placeholder="Email">*@
								<span class="input-group-btn">
									@*<button class="btn btn text-white bg_red rounded-0 border-0" type="button">
										
									</button>*@
								</span>
							</div>
							<ul class="social-network social-circle mb-0 mt-4">
								@*<li><a href="href=" https://www.youtube.com/"" class="icoGoogle" title="Google +"><i class="fa fa-youtube"></i></a></li>*@
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="footer_b" class="pt-3 pb-3 bg_grey">
		<div class="container">
			<div class="row footer_1">
				<div class="col-md-8">
					<div class="footer_1l">
						<p class="mb-0">© 2023 INSEPARABLE Website . All Rights Reserved | Design by <a class="col_red" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="footer_1r">
						<ul class="mb-0">
							@*<li class="d-inline-block me-2"><a href="#">Home</a></li>
							<li class="d-inline-block me-2"><a href="#">Features</a></li>
							<li class="d-inline-block me-2"><a href="#">Pages</a></li>
							<li class="d-inline-block me-2"><a href="#">Portfolio</a></li>
							<li class="d-inline-block me-2"><a href="#">Blog</a></li>
							<li class="d-inline-block"><a href="#">Contact</a></li>*@
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script>
		function search(){
			var keyword=$('#keyword').val();
			$.ajax({
				url:'/Home/Search',
				method:'POST',
				data: { keyword },
				success:function(data){
					if(data==null){
						return;
					}
					$('#mainbody').html('');
					var all =JSON.parse(data);
					var cinema=null;
					if(all.cinema!=null){
						var item = JSON.parse(all.cinema);
						cinema = item.$values;
						console.log(cinema);
					}
					var movie = null;
					if (all.movie != null) {
						var item = JSON.parse(all.movie);
						movie = item.$values;
						console.log(movie);
					}
					var member = null;
					if (all.movie != null) {
						var item = JSON.parse(all.member);
						member = item.$values;
						console.log(member);
					}
					if (member != null) {
						member.forEach(function (value, index) {
							$('#mainbody').append(`<div style="border: solid 1.8px #C4E1E1;padding: 5px;margin: 5px;dispaly:flex;">
													<span><a href="/Member/Profile/${value.FId}">
													${value.FPhotoPath == null ?
													`<img src= "/images/nobody.jpg" width = "150";>` : 
													`<img src="/images/memberProfilePhotos/${value.FPhotoPath}" width = "150";>`}
													</span>
													<span><h4>${value.FLastName} ${value.FFirstName}</h4>
													<p>${value.FIntroduction}</p>
													</span></a></div>`)
						});
					}
					//<p>${value.FArea.FAreaName}</p>
					if (movie != null) {
						movie.forEach(function (value, index) {
							$('#mainbody').append(`<div style="border: solid 1.8px #C4E1E1;padding: 5px;margin: 5px;dispaly:flex;">
													<span><a href="/TMovies/Details/${value.FMovieId}">
													<img src="/images/${value.FMovieImagePath}" width="250";></span>
													<span><h4>${value.FMovieName}</h4>
													<p>${value.FMovieIntroduction}</p>
													</span></a></div>`)
						});
					}

					if (cinema != null) {
						cinema.forEach(function (value, index) {
							$('#mainbody').append(`<div style="border: solid 1.8px #C4E1E1;padding: 5px;margin: 5px;"><span><a ><h4>${value.FCinemaName}</h4></a>
													<p>${value.FLastName}</p>
													<p>${value.FCinemaTel}</p>
													</span></div>`)
						});
					}
				},
				error:function(){

				}
			});
		}
	</script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
